<%= form_with(model: client) do |f| %>
  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>
      <ul>
        <% client.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :gender %>
    <%= f.select :gender, Client.genders_i18n.invert ,{ include_blank: "選択してください", selected: 0 }, { id: "gender", class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.label :birth_date %>
    <br>
    <%= f.date_select :birth_date, {use_month_numbers: true,start_year: 1970,
        end_year:Time.now.year,
        prompt:"--",date_separator: '/'}, class: 'form-control', style: 'display: inline-block;width: auto;' %>
  </div>
  <div class="form-group">
    <%= f.label :age %>
    <%= f.number_field :age, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit "登録", class: 'btn btn-danger' %>
  </div>
<% end %>
