<div class="text-title">
  <h3>クライアント一覧</h3>
</div>
<form class="mb-3 mx-auto search-form">
  <div class="form-group">
    <label class="sr-only" for="text-search">クライアント検索</label>
    <div class="input-group">
      <i class="fa fa-search search-icon" aria-hidden="true"></i>
      <input type="text-search" class="form-control text-search" id="text-search" placeholder="クライアント検索">
    </div>
  </div>
  <%= link_to "新規クライアント登録", new_client_path, class: "btn btn-danger" %>
</form>
<div class="container">
  <div class="row">
    <% @clients.each do |client| %>
      <div class="col-12 col-md-6 col-lg-4 text-card-container" id="card-body">
        <%= link_to client, class: "card" do %>
          <div class="card-body">
            <p class="card-text">名前：<%= client.name %></p>
            <p>性別：<%= client.gender_i18n %></p>
            <p>生年月日：<%= I18n.l(client.birth_date, format: :long) %></p>
            <p>年齢：<%= client.age %>歳</p>
            <p>住所：<%= client.address %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
