<p id="notice"><%= notice %></p>
<div>
  <%= link_to 'クライアント情報修正', edit_client_path(@client), class: "btn btn-primary" %>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">名前</th>
      <th scope="col">性別</th>
      <th scope="col">年齢</th>
      <th scope="col">住所</th>
    </tr>
  </thead>
  <tbody>
    <td><%= @client.name %></td>
    <td><%= @client.gender %></td>
    <td><%= @client.age %></td>
    <td><%= @client.address %></td>
  </tbody>
</table>
<br>
<div>
  <%= link_to "通院日登録", new_visit_history_path(visit_history: { client_id: @client.id } ), class: "btn btn-primary" %>
</div>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">日付</th>
        <th scope="col">金額</th>
        <th scope="col">施術記録</th>
      </tr>
    </thead>
    <tbody>
      <% @visit_histories.each do |h| %>
        <tr>
          <td><%= h.visit_date %></td>
          <td><%= h.fee %></td>
          <td><%= link_to "詳細",  medical_treatment_history_path(h.medical_treatment_history), class: "btn btn-primary" %>  <%= link_to "削除", visit_history_path(h), method: :delete, class: "btn btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div>
  <%= link_to '戻る', clients_path, class: "btn btn-primary" %>
</div>
