<%= form_with(model: visit_history) do |f| %>
  <%= f.hidden_field :client_id, :value => visit_history.client_id %>
  <% if visit_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(visit_history.errors.count, "error") %> prohibited this visit_history from being saved:</h2>
      <ul>
        <% visit_history.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :visit_date %>
    <%= f.date_field :visit_date, class: 'form-control' %>
  </div>
  <%= f.fields_for :medical_treatment_history do |m_f| %>
    <%= m_f.hidden_field :user_id, :value => current_user.id %>
    <div class="form-group">
      <%= m_f.label :subjective %>
      <%= m_f.text_area :subjective, class: 'form-control' %>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.submit "登録", class: 'btn btn-primary' %>
  </div>
<% end %>
